.featured-one {
	position: relative;
	display: block;
	padding: 120px 0 120px;
}

.single_featured_box {
	background: #5b8c51;
	display: block;
	padding: 55px 67px 49px;
	border-radius: 5px;
}

.single_featured_box img {
	width: 70px;
	height: 22px;
}

.single_featured_box span {
	color: #ffffff;
	font-size: 15px;
	padding: 0 18px;
}
